@import "compass/reset"
@import "../bourbon/_bourbon"
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700')
@import "variables"
@import "typography"

.fa
  font-size: 2rem
  color: #e84545
  padding-top: 2%
  padding-bottom: 2%
body
  font-size: 62.5%
  font-family: $font
  background-color: #444

.logo-wrapper
  .logo
    width: 160px
    height: 160px
    margin: 0 auto
    img
      max-width: 100%
      max-height: 100%

.food-inner, .drinks-inner, .contacts-address, .contacts-phone, .contacts-mailUs
  text-align: center
  padding-top: 5%
  padding-bottom: 5%
.contacts-address
  span
    vertical-align: super

footer
  .footer-logo
    img
      width: 80px
      height: 16px
      line-height: normal
      vertical-align: middle

@import "media"